In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error as mse

In [38]:
train = pd.read_csv('Train (1).csv')
test = pd.read_csv('Test (1).csv')
sample_sub = pd.read_csv('SampleSubmission.csv')

In [39]:
train.shape

(21454, 19)

In [40]:
test.shape

(7194, 18)

In [41]:
sample_sub.shape

(7194, 2)

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21454 entries, 0 to 21453
Data columns (total 19 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       21454 non-null  object
 1   country                                  21454 non-null  object
 2   year                                     21454 non-null  int64
 3   urban_or_rural                           21454 non-null  object
 4   ghsl_water_surface                       21454 non-null  float64
 5   ghsl_built_pre_1975                      21454 non-null  float64
 6   ghsl_built_1975_to_1990                  21454 non-null  float64
 7   ghsl_built_1990_to_2000                  21454 non-null  float64
 8   ghsl_built_2000_to_2014                  21454 non-null  float64
 9   ghsl_not_built_up                        21454 non-null  float64
 10  ghsl_pop_density                         21454 non-null  float64
 11  landcover_crops_fraction                 21454 non-null  float64
 12  landcover_urban_fraction                 21454 non-null  float64
 13  landcover_water_permanent_10km_fraction  21454 non-null  float64
 14  landcover_water_seasonal_10km_fraction   21454 non-null  float64
 15  nighttime_lights                         21454 non-null  float64
 16  dist_to_capital                          21454 non-null  float64
 17  dist_to_shoreline                        21454 non-null  float64
 18  Target                                   21454 non-null  float64
dtypes: float64(15), int64(1), object(3)
memory usage: 3.1+ MB

In [43]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7194 entries, 0 to 7193
Data columns (total 18 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       7194 non-null   object
 1   country                                  7194 non-null   object
 2   year                                     7194 non-null   int64
 3   urban_or_rural                           7194 non-null   object
 4   ghsl_water_surface                       7194 non-null   float64
 5   ghsl_built_pre_1975                      7194 non-null   float64
 6   ghsl_built_1975_to_1990                  7194 non-null   float64
 7   ghsl_built_1990_to_2000                  7194 non-null   float64
 8   ghsl_built_2000_to_2014                  7194 non-null   float64
 9   ghsl_not_built_up                        7194 non-null   float64
 10  ghsl_pop_density                         7194 non-null   float64
 11  landcover_crops_fraction                 7194 non-null   float64
 12  landcover_urban_fraction                 7194 non-null   float64
 13  landcover_water_permanent_10km_fraction  7194 non-null   float64
 14  landcover_water_seasonal_10km_fraction   7194 non-null   float64
 15  nighttime_lights                         7194 non-null   float64
 16  dist_to_capital                          7194 non-null   float64
 17  dist_to_shoreline                        7194 non-null   float64
dtypes: float64(14), int64(1), object(3)
memory usage: 1011.8+ KB

In [44]:
sample_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7194 entries, 0 to 7193
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      7194 non-null   object
 1   Target  7194 non-null   int64
dtypes: int64(1), object(1)
memory usage: 112.5+ KB

In [45]:
sample_sub.head(15)

             ID  Target
0   ID_AAcismbB       0
1   ID_AAeBMsji       0
2   ID_AAjFMjzy       0
3   ID_AAmMOEEC       0
4   ID_ABguzDxp       0
5   ID_ABomWihE       0
6   ID_ACDBDjVC       0
7   ID_AEnEBaEk       0
8   ID_AFDiXCWE       0
9   ID_AFFdlZrY       0
10  ID_AFFhrAEa       0
11  ID_AFTYARrX       0
12  ID_AFxizGWn       0
13  ID_AGXURqVa       0
14  ID_AGcfrBss       0

In [46]:
sample_sub.tail(10)

               ID  Target
7184  ID_zwExrPVK       0
7185  ID_zwKNBJNO       0
7186  ID_zwTGWDHp       0
7187  ID_zwfgsalj       0
7188  ID_zwxxRjgI       0
7189  ID_zxzKJCMI       0
7190  ID_zyBrpgRp       0
7191  ID_zyMafcYq       0
7192  ID_zyfMsHMG       0
7193  ID_zytUOqJv       0

In [47]:
sample_sub.describe()

       Target
count  7194.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0

In [48]:
train.describe()

,year,ghsl_water_surface,ghsl_built_pre_1975,ghsl_built_1975_to_1990,ghsl_built_1990_to_2000,ghsl_built_2000_to_2014,ghsl_not_built_up,ghsl_pop_density,landcover_crops_fraction,landcover_urban_fraction,landcover_water_permanent_10km_fraction,landcover_water_seasonal_10km_fraction,nighttime_lights,dist_to_capital,dist_to_shoreline,Target
count,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000
mean,2010.060874,0.028259,0.038222,0.028644,0.012689,0.018386,0.873800,95.756775,21.034265,13.999061,1.486849,0.714891,8.506543,289.722268,402.608539,0.350736
std,4.799579,0.097490,0.113562,0.077367,0.032745,0.040421,0.239294,209.704761,16.751106,23.715485,6.550171,2.383701,21.090378,238.811778,321.517285,0.194376
min,1994.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.105306,0.112080,0.000000
25%,2008.000000,0.000000,0.000000,0.000000,0.000043,0.000124,0.897867,3.848533,5.610515,0.798841,0.000000,0.001325,0.000000,115.890873,126.379463,0.195772
50%,2011.000000,0.000000,0.000198,0.000709,0.001001,0.001871,0.991919,17.632672,18.509291,2.770159,0.000516,0.029151,0.137333,256.736472,327.271973,0.293574
75%,2014.000000,0.000000,0.007987,0.009868,0.008128,0.014936,0.999532,63.225683,33.590293,12.621501,0.152364,0.381969,4.830194,401.153071,643.910675,0.499003
max,2016.000000,0.969956,0.877116,0.685010,0.515534,0.649159,1.000000,1741.256516,80.064918,98.784092,99.164018,56.201637,382.932769,1897.351575,1769.523906,1.000000

In [49]:
display(train.head(10))

,ID,country,year,urban_or_rural,ghsl_water_surface,ghsl_built_pre_1975,ghsl_built_1975_to_1990,ghsl_built_1990_to_2000,ghsl_built_2000_to_2014,ghsl_not_built_up,ghsl_pop_density,landcover_crops_fraction,landcover_urban_fraction,landcover_water_permanent_10km_fraction,landcover_water_seasonal_10km_fraction,nighttime_lights,dist_to_capital,dist_to_shoreline,Target
0,ID_AAIethGy,Ethiopia,2016,R,0.0,0.000000,0.000000,0.000055,0.000536,0.999408,12.146134,25.489659,0.879484,0.000000,0.000000,0.000000,278.788451,769.338378,0.132783
1,ID_AAYiaCeL,Ethiopia,2005,R,0.0,0.000000,0.000110,0.000000,0.000018,0.999872,113.806716,64.136053,0.601427,0.000000,0.005427,0.000000,200.986978,337.135243,0.004898
2,ID_AAdurmKj,Mozambique,2009,R,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,4.400096,0.131900,0.000000,0.003078,0.000000,642.594208,169.913773,0.097320
3,ID_AAgNHles,Malawi,2015,R,0.0,0.000141,0.000181,0.000254,0.000228,0.999195,5.213320,25.379371,2.017136,11.293841,0.131035,0.000000,365.349451,613.591610,0.304107
4,ID_AAishfND,Guinea,2012,U,0.0,0.011649,0.017560,0.017383,0.099875,0.853533,31.734661,5.081620,22.815984,0.005047,0.130475,1.461894,222.867189,192.926363,0.605328
5,ID_AAnetgMr,Ethiopia,2016,U,0.0,0.008623,0.019409,0.059886,0.082682,0.829400,203.580507,24.629433,31.235708,0.000000,0.008223,22.981970,9.803702,487.790852,0.463882
6,ID_ABOoaqlI,Cameroon,2004,R,0.0,0.000131,0.000149,0.000168,0.000093,0.999458,0.342950,0.011798,0.251395,0.000000,0.000289,0.000000,290.621111,477.563353,0.133302
7,ID_ABRVEEtG,Ghana,2014,R,0.0,0.001298,0.001042,0.000219,0.000347,0.997094,14.340860,42.594576,4.180947,0.011511,0.112440,0.000000,438.103890,435.816271,0.545138
8,ID_ABbCEbbL,Senegal,2010,U,0.0,0.000000,0.000751,0.001485,0.000035,0.997729,19.468199,11.332716,2.191206,0.410365,4.746894,0.528963,482.262914,320.867328,0.590187
9,ID_ABcnWkmC,Ethiopia,2016,R,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.105011,0.147196,0.000000,0.230172,0.000000,533.139137,1016.580304,0.122272

In [50]:
df = pd.concat([train, test]).reset_index(drop=True)

In [51]:
df

,ID,country,year,urban_or_rural,ghsl_water_surface,ghsl_built_pre_1975,ghsl_built_1975_to_1990,ghsl_built_1990_to_2000,ghsl_built_2000_to_2014,ghsl_not_built_up,ghsl_pop_density,landcover_crops_fraction,landcover_urban_fraction,landcover_water_permanent_10km_fraction,landcover_water_seasonal_10km_fraction,nighttime_lights,dist_to_capital,dist_to_shoreline,Target
0,ID_AAIethGy,Ethiopia,2016,R,0.000000,0.000000,0.000000,0.000055,0.000536,0.999408,12.146134,25.489659,0.879484,0.000000,0.000000,0.000000,278.788451,769.338378,0.132783
1,ID_AAYiaCeL,Ethiopia,2005,R,0.000000,0.000000,0.000110,0.000000,0.000018,0.999872,113.806716,64.136053,0.601427,0.000000,0.005427,0.000000,200.986978,337.135243,0.004898
2,ID_AAdurmKj,Mozambique,2009,R,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,4.400096,0.131900,0.000000,0.003078,0.000000,642.594208,169.913773,0.097320
3,ID_AAgNHles,Malawi,2015,R,0.000000,0.000141,0.000181,0.000254,0.000228,0.999195,5.213320,25.379371,2.017136,11.293841,0.131035,0.000000,365.349451,613.591610,0.304107
4,ID_AAishfND,Guinea,2012,U,0.000000,0.011649,0.017560,0.017383,0.099875,0.853533,31.734661,5.081620,22.815984,0.005047,0.130475,1.461894,222.867189,192.926363,0.605328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28643,ID_zxzKJCMI,Zimbabwe,2010,R,0.000000,0.000000,0.000000,0.000016,0.000131,0.999853,0.304446,32.263180,0.658724,0.000000,0.077742,0.103892,500.988790,703.139988,NaN
28644,ID_zyBrpgRp,Uganda,2011,U,0.000000,0.000056,0.000883,0.003861,0.002483,0.992717,36.160182,27.520555,3.615442,0.000000,0.001157,0.000000,159.587852,1000.194893,NaN
28645,ID_zyMafcYq,Burkina Faso,2010,U,0.002683,0.000268,0.002800,0.009322,0.042527,0.942399,46.127465,35.674511,12.705561,0.001129,0.723252,4.734974,33.775441,781.833777,NaN
28646,ID_zyfMsHMG,Zimbabwe,2011,R,0.000332,0.000000,0.000017,0.000000,0.000100,0.999551,0.309696,18.050789,0.030514,0.033177,0.222629,0.175123,320.974153,605.920204,NaN
28647,ID_zytUOqJv,Democratic Republic of Congo,2007,U,0.076950,0.128367,0.000000,0.041799,0.139710,0.613173,162.182887,3.917284,36.528453,4.499446,0.647506,4.224699,1186.131373,1456.101058,NaN

In [52]:
df.isnull().sum()

ID                                            0
country                                       0
year                                          0
urban_or_rural                                0
ghsl_water_surface                            0
ghsl_built_pre_1975                           0
ghsl_built_1975_to_1990                       0
ghsl_built_1990_to_2000                       0
ghsl_built_2000_to_2014                       0
ghsl_not_built_up                             0
ghsl_pop_density                              0
landcover_crops_fraction                      0
landcover_urban_fraction                      0
landcover_water_permanent_10km_fraction       0
landcover_water_seasonal_10km_fraction        0
nighttime_lights                              0
dist_to_capital                               0
dist_to_shoreline                             0
Target                                     7194
dtype: int64

In [53]:
Categorical_cols=train.select_dtypes(include='object')
Categorical_cols.head()

            ID     country urban_or_rural
0  ID_AAIethGy    Ethiopia              R
1  ID_AAYiaCeL    Ethiopia              R
2  ID_AAdurmKj  Mozambique              R
3  ID_AAgNHles      Malawi              R
4  ID_AAishfND      Guinea              U

In [54]:
cols= ['country', 'urban_or_rural']
for i in cols:
  le= LabelEncoder()
  df[i]= le.fit_transform(df[i])

In [55]:
df

,ID,country,year,urban_or_rural,ghsl_water_surface,ghsl_built_pre_1975,ghsl_built_1975_to_1990,ghsl_built_1990_to_2000,ghsl_built_2000_to_2014,ghsl_not_built_up,ghsl_pop_density,landcover_crops_fraction,landcover_urban_fraction,landcover_water_permanent_10km_fraction,landcover_water_seasonal_10km_fraction,nighttime_lights,dist_to_capital,dist_to_shoreline,Target
0,ID_AAIethGy,7,2016,0,0.000000,0.000000,0.000000,0.000055,0.000536,0.999408,12.146134,25.489659,0.879484,0.000000,0.000000,0.000000,278.788451,769.338378,0.132783
1,ID_AAYiaCeL,7,2005,0,0.000000,0.000000,0.000110,0.000000,0.000018,0.999872,113.806716,64.136053,0.601427,0.000000,0.005427,0.000000,200.986978,337.135243,0.004898
2,ID_AAdurmKj,14,2009,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,4.400096,0.131900,0.000000,0.003078,0.000000,642.594208,169.913773,0.097320
3,ID_AAgNHles,12,2015,0,0.000000,0.000141,0.000181,0.000254,0.000228,0.999195,5.213320,25.379371,2.017136,11.293841,0.131035,0.000000,365.349451,613.591610,0.304107
4,ID_AAishfND,9,2012,1,0.000000,0.011649,0.017560,0.017383,0.099875,0.853533,31.734661,5.081620,22.815984,0.005047,0.130475,1.461894,222.867189,192.926363,0.605328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28643,ID_zxzKJCMI,24,2010,0,0.000000,0.000000,0.000000,0.000016,0.000131,0.999853,0.304446,32.263180,0.658724,0.000000,0.077742,0.103892,500.988790,703.139988,NaN
28644,ID_zyBrpgRp,22,2011,1,0.000000,0.000056,0.000883,0.003861,0.002483,0.992717,36.160182,27.520555,3.615442,0.000000,0.001157,0.000000,159.587852,1000.194893,NaN
28645,ID_zyMafcYq,2,2010,1,0.002683,0.000268,0.002800,0.009322,0.042527,0.942399,46.127465,35.674511,12.705561,0.001129,0.723252,4.734974,33.775441,781.833777,NaN
28646,ID_zyfMsHMG,24,2011,0,0.000332,0.000000,0.000017,0.000000,0.000100,0.999551,0.309696,18.050789,0.030514,0.033177,0.222629,0.175123,320.974153,605.920204,NaN
28647,ID_zytUOqJv,6,2007,1,0.076950,0.128367,0.000000,0.041799,0.139710,0.613173,162.182887,3.917284,36.528453,4.499446,0.647506,4.224699,1186.131373,1456.101058,NaN

In [56]:
len_train = len(train)
len_train

21454

In [57]:
new_train = df[:len_train]
new_test = df[len_train:]

In [58]:
new_train

,ID,country,year,urban_or_rural,ghsl_water_surface,ghsl_built_pre_1975,ghsl_built_1975_to_1990,ghsl_built_1990_to_2000,ghsl_built_2000_to_2014,ghsl_not_built_up,ghsl_pop_density,landcover_crops_fraction,landcover_urban_fraction,landcover_water_permanent_10km_fraction,landcover_water_seasonal_10km_fraction,nighttime_lights,dist_to_capital,dist_to_shoreline,Target
0,ID_AAIethGy,7,2016,0,0.0,0.000000,0.000000,0.000055,0.000536,0.999408,12.146134,25.489659,0.879484,0.000000,0.000000,0.000000,278.788451,769.338378,0.132783
1,ID_AAYiaCeL,7,2005,0,0.0,0.000000,0.000110,0.000000,0.000018,0.999872,113.806716,64.136053,0.601427,0.000000,0.005427,0.000000,200.986978,337.135243,0.004898
2,ID_AAdurmKj,14,2009,0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,4.400096,0.131900,0.000000,0.003078,0.000000,642.594208,169.913773,0.097320
3,ID_AAgNHles,12,2015,0,0.0,0.000141,0.000181,0.000254,0.000228,0.999195,5.213320,25.379371,2.017136,11.293841,0.131035,0.000000,365.349451,613.591610,0.304107
4,ID_AAishfND,9,2012,1,0.0,0.011649,0.017560,0.017383,0.099875,0.853533,31.734661,5.081620,22.815984,0.005047,0.130475,1.461894,222.867189,192.926363,0.605328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21449,ID_zzPvDPjQ,15,2013,0,0.0,0.002961,0.008240,0.002313,0.008068,0.978418,44.044352,12.551978,6.302902,0.000000,0.000000,1.955632,283.861037,159.790057,0.624088
21450,ID_zzQoPhjZ,17,2011,0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,27.848571,0.372267,0.000000,0.000000,0.000000,295.307249,122.976960,0.250042
21451,ID_zzQuWZBF,8,2014,0,0.0,0.000536,0.000092,0.000018,0.000074,0.999279,0.458143,3.679934,1.712136,0.000000,0.000000,0.442422,166.405249,155.365355,0.314871
21452,ID_zzqCGLvb,8,2014,0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,12.331763,0.960163,0.001899,0.061126,0.000000,568.759665,534.638628,0.237831
21453,ID_zzqQlHgY,14,2011,0,0.0,0.000035,0.000000,0.002073,0.000337,0.997556,15.223655,15.192034,1.565308,0.000000,0.000000,0.000000,1486.151015,216.519408,0.165071

In [59]:
new_test

,ID,country,year,urban_or_rural,ghsl_water_surface,ghsl_built_pre_1975,ghsl_built_1975_to_1990,ghsl_built_1990_to_2000,ghsl_built_2000_to_2014,ghsl_not_built_up,ghsl_pop_density,landcover_crops_fraction,landcover_urban_fraction,landcover_water_permanent_10km_fraction,landcover_water_seasonal_10km_fraction,nighttime_lights,dist_to_capital,dist_to_shoreline,Target
21454,ID_AAcismbB,6,2007,0,0.000000,0.000000,0.000000,0.000523,0.000131,0.999347,0.660758,0.990942,0.132264,0.069055,0.032627,0.000000,1249.294720,1364.592100,NaN
21455,ID_AAeBMsji,6,2007,1,0.000000,0.004239,0.000238,0.001227,0.002860,0.991437,6.441547,5.461365,0.452400,0.000000,0.000000,0.000000,821.019579,1046.028681,NaN
21456,ID_AAjFMjzy,22,2011,1,0.007359,0.525682,0.132795,0.095416,0.042375,0.196373,587.516458,2.881811,87.387991,3.248483,3.950374,60.070041,3.620455,906.057334,NaN
21457,ID_AAmMOEEC,2,2010,1,0.000000,0.000089,0.000036,0.001519,0.001358,0.996997,35.141762,33.878927,4.166437,0.000000,0.130727,1.333999,109.493969,775.139189,NaN
21458,ID_ABguzDxp,23,2007,0,0.000000,0.000138,0.000623,0.000615,0.002961,0.995663,3.442449,33.491994,3.437129,0.133563,0.128997,0.502203,133.643319,835.591501,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28643,ID_zxzKJCMI,24,2010,0,0.000000,0.000000,0.000000,0.000016,0.000131,0.999853,0.304446,32.263180,0.658724,0.000000,0.077742,0.103892,500.988790,703.139988,NaN
28644,ID_zyBrpgRp,22,2011,1,0.000000,0.000056,0.000883,0.003861,0.002483,0.992717,36.160182,27.520555,3.615442,0.000000,0.001157,0.000000,159.587852,1000.194893,NaN
28645,ID_zyMafcYq,2,2010,1,0.002683,0.000268,0.002800,0.009322,0.042527,0.942399,46.127465,35.674511,12.705561,0.001129,0.723252,4.734974,33.775441,781.833777,NaN
28646,ID_zyfMsHMG,24,2011,0,0.000332,0.000000,0.000017,0.000000,0.000100,0.999551,0.309696,18.050789,0.030514,0.033177,0.222629,0.175123,320.974153,605.920204,NaN
28647,ID_zytUOqJv,6,2007,1,0.076950,0.128367,0.000000,0.041799,0.139710,0.613173,162.182887,3.917284,36.528453,4.499446,0.647506,4.224699,1186.131373,1456.101058,NaN

In [60]:
new_test = new_test.drop(columns=['ID','Target'])

In [61]:
X = new_train.drop(columns = ['ID', 'Target'])
y = new_train['Target']

In [62]:
new_test

,country,year,urban_or_rural,ghsl_water_surface,ghsl_built_pre_1975,ghsl_built_1975_to_1990,ghsl_built_1990_to_2000,ghsl_built_2000_to_2014,ghsl_not_built_up,ghsl_pop_density,landcover_crops_fraction,landcover_urban_fraction,landcover_water_permanent_10km_fraction,landcover_water_seasonal_10km_fraction,nighttime_lights,dist_to_capital,dist_to_shoreline
21454,6,2007,0,0.000000,0.000000,0.000000,0.000523,0.000131,0.999347,0.660758,0.990942,0.132264,0.069055,0.032627,0.000000,1249.294720,1364.592100
21455,6,2007,1,0.000000,0.004239,0.000238,0.001227,0.002860,0.991437,6.441547,5.461365,0.452400,0.000000,0.000000,0.000000,821.019579,1046.028681
21456,22,2011,1,0.007359,0.525682,0.132795,0.095416,0.042375,0.196373,587.516458,2.881811,87.387991,3.248483,3.950374,60.070041,3.620455,906.057334
21457,2,2010,1,0.000000,0.000089,0.000036,0.001519,0.001358,0.996997,35.141762,33.878927,4.166437,0.000000,0.130727,1.333999,109.493969,775.139189
21458,23,2007,0,0.000000,0.000138,0.000623,0.000615,0.002961,0.995663,3.442449,33.491994,3.437129,0.133563,0.128997,0.502203,133.643319,835.591501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28643,24,2010,0,0.000000,0.000000,0.000000,0.000016,0.000131,0.999853,0.304446,32.263180,0.658724,0.000000,0.077742,0.103892,500.988790,703.139988
28644,22,2011,1,0.000000,0.000056,0.000883,0.003861,0.002483,0.992717,36.160182,27.520555,3.615442,0.000000,0.001157,0.000000,159.587852,1000.194893
28645,2,2010,1,0.002683,0.000268,0.002800,0.009322,0.042527,0.942399,46.127465,35.674511,12.705561,0.001129,0.723252,4.734974,33.775441,781.833777
28646,24,2011,0,0.000332,0.000000,0.000017,0.000000,0.000100,0.999551,0.309696,18.050789,0.030514,0.033177,0.222629,0.175123,320.974153,605.920204
28647,6,2007,1,0.076950,0.128367,0.000000,0.041799,0.139710,0.613173,162.182887,3.917284,36.528453,4.499446,0.647506,4.224699,1186.131373,1456.101058

In [63]:
X_train, X_valid, y_train, y_valid =train_test_split(X, y, test_size = 0.3, random_state = 10)

In [71]:
rf = RandomForestRegressor()
#gb = GradientBoostingRegressor()

gb_cross_val = cross_val_score(gb, X, y, cv =5)
print('GB: ', gb_cross_val.mean(axis=0))

In [66]:
rf_cross_val = cross_val_score(rf, X, y, cv =5)
print('RF: ', rf_cross_val.mean(axis=0))

RF:  0.7924606127181774

In [67]:
rf.fit(X_train, y_train)
y_predict = rf.predict(X_valid)

In [68]:
def rmse(ypred, y):
    return np.sqrt(mse(y, ypred))

In [69]:
rmse_score = rmse(y_predict, y_valid)
print('RMSE score is ', rmse_score)

RMSE score is  0.08881729568180004

In [70]:
test_predictions = rf.predict(new_test)
submission = sample_sub.copy()
submission['Target'] = test_predictions
submission.to_csv('econonmicsolution.csv', index= False)
submission.head()

            ID    Target
0  ID_AAcismbB  0.185177
1  ID_AAeBMsji  0.210068
2  ID_AAjFMjzy  0.659553
3  ID_AAmMOEEC  0.360359
4  ID_ABguzDxp  0.284106